<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary" class="toolbar mat-elevation-z5">

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item routerLink="/ui/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>    

    <button mat-menu-item routerLink="/ui/list">
      <mat-icon>list</mat-icon>
      <span>Delivery List</span>
    </button>    
    

  </mat-menu>

  <a mat-button routerLink="/ui/home">
    <h1><span>{{ title }}</span></h1>
  </a>

  <div class="pc_menu">    
    <a mat-button routerLink="/ui/list">Delivery List</a>    
    <a mat-button routerLink="/ui/reports">Reports</a>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>
